.grid {
  padding: 30px;
  text-align: center;
}

/* ---- .grid-item ---- */
.grid-item {
  width: 220px;
  height: 340px;
  border-radius: 15px;
  display: inline-block;
  margin: 8px;
}
.grid-item img {
  display: flex;
  width: 220px;
  height: 340px;
  border-radius: 15px;
  object-fit: cover;
}

/* clear fix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}
/* Carousel */
.carousel-indicators {
  top: 270px;
  bottom: unset;
}
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 6px;
  background-color: rgba(173, 173, 173, 0.8);
}
.btn {
  border-radius: 20px;
}
.btn:hover {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 60px;
}
.tpad0 {
  padding-top: 0px;
}
.tpad1 {
  padding-top: 150px;
}
.tpad2 {
  padding-top: 220px;
}
.tpad3 {
  padding-top: 370px;
}
