body {
  background-color: #5555ff;
}
.container {
  position: absolute;
  display: block;
  background-color: #151050ea;
  width: auto;
  height: auto;
  padding-right: 16px;
  padding-bottom: 16px;
  border-radius: 16px;
  align-items: center;
}
.grid {
  width: 20rem;
  height: 20rem;
  display: flex;
  flex-wrap: wrap;
}
.grid > * {
  flex: 1 1 20%;
  margin: 6px;
  color: red;
  border: 2px dashed;
}
.screen {
  bottom: 0;
  font-size: 30px;
  padding: 15px;
  color: aliceblue;
}
.btn:hover {
  color: #551111;
}
.btn:focus {
  box-shadow: none;
}
